@font-face {
  font-family: MemphisRiver, Arial, Helvetica, sans-serif;
  src: url(fonts/MemphisRiver);
}

h1 {
  font-family: MemphisRiver, Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 20pt;
}

img {
  border-radius: 20%;
  border: 5pt;
  max-width: 1000pt;
  height: 500pt;
  padding: 20pt;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.change {
  background-color: rgba(201, 217, 230, 0.966);
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}
a,
.flex-container {
  text-decoration: none;
  color: rgb(46, 165, 42);
  font-weight: 700;
  font-style: oblique;
  font-size: large;
}
